body {
	background: #1F2937;
	display: flex;
	margin: 0; 
	flex-direction: column;
}

.container > div {
	width: 700px;
	margin: 0 auto;
	box-sizing: border-box;
}

.content {
	flex: 1 0 auto;
	padding: 32px 0 56px 0;
}

.white-bg {
	background: white;
}

.grey-bg {
	background: #E5E7EB;
}

.padded-top {
	padding-top: 72px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 16px 0;
}

.header ul {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	gap: 16px;
}

.header ul li {
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
	font-weight: 700;
	flex: none;
}

.testimonial {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.testimonial .quote {
	font-size: 32px;
	font-style: italic;
	font-weight: 300;
	color: #1F2937;
}

.testimonial .author {
	font-weight: 700;
	align-self: flex-end;
}

.hero-secondary-text {
	font-size: 18px;
	color: #E5E7EB;
}

.hero-primary-text {
	font-size: 48px;
	font-weight: 900;
	color: #F9FAF8
}

.splash {
	display: flex;
	gap: 8px;
}

.splash img {
	height: 250px;
	width: 375px;
	flex-shrink: 0;
}

button {
	border: 0px;
	border-radius: 4px;
	background: #3882F6;
	color: white;
	padding: 4px 16px;
}

.deep-content {
	padding: 0 96px;
}

.info {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 32px;
	text-align: center;
}

.info img {
	height: 100px;
	width: 100px;
	border: 3px solid #3882F6;
	border-radius: 5px;
}

.info .sub-title {
	width: 700px;
	flex: 1 100%;
	color: #1F2937;
	font: 900 36px sans-serif
}

.sub-info {
	max-width: 100px;
}

.modal {
	display: flex;
	align-items: center;
	gap: 32px;
	background: #3882F6;
	padding-top: 32px;
	padding-bottom: 32px;
	border-radius: 5px;
}

.modal-text {
	display: flex;
	flex-direction: column;
	flex: 1;
	color: white;
	font-family: "Arial", sans-serif;
	font-size: 8px;
}

.modal-text .sub-title {
	font-size: 24px;
	font-weight: 700;
}

.modal button {
	border: 2px solid white;
	flex-shrink: 0
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px;
}
